{% extends "master.html" %}
{% block title %}
    Locations
{% endblock title %}
{% block content %}
    <h1>Locations</h1>
    {% if locations %}
        <ul>
            <p id="my-desc">Locations</p>
            <table aria-describedby="my-desc">
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>e-mail</th>
                    <th>Telephone</th>
                    <th>
                        <!--Sign in command column -->&nbsp;
                    </th>
                    <th>
                        <!--Sign out command column -->&nbsp;
                    </th>
                </tr>
                {% for location in locations %}
                    <tr>
                        <td>
                            <a href="{% url 'details' location.id %}">{{ location.name }}</a>
                        </td>
                        <td>{{ location.name }}</td>
                        <td>{{ location.address }}</td>
                        <td>{{ location.email }}</td>
                        <td>{{ location.telephone }}</td>
                        <td>
                            <a href="{% url 'sign_in' location.id %}">Sign in</a>
                        </td>
                        <td>
                            <a href="{% url 'sign_out' location.id %}">Sign out</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </ul>
    {% else %}
        <p>No locations are available.</p>
    {% endif %}
{% endblock content %}
