{% extends "master.html" %}
{% load static %}
{% block content %}
    <div class="column">
        <h2>User Facial Recognition Setup</h2>
        <p>Please look directly at the camera until your face is detected and profile recorded.</p>
        <video id="videoInput" width="320" height="240">
        </video>
        <p id="errorMessage" class="error"></p>
        <input type="hidden"
               id="user-account-id"
               name="user-account-id"
               value="{{ user_account_id }}"/>
        <button id="startButton"
                class="btn btn-primary"
                onClick="setupUserFacialRecognition()">
            Setup User Facial Recognition
        </button>
        <p id="statusMessage"></p>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static "js/facial-login.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(documentReady);

        function documentReady() {
            startCamera(VideoResolutionFormatNames.QVGA, 'videoInput');
        }
    </script>
{% endblock scripts %}
