{% extends "master.html" %}
{% load static %}
{% block content %}
    <h2>{{ location.name }} Sign In</h2>
    <div>
        <p>Please look directly at the camera until your face is detected.</p>
        <video id="videoInput" width="320" height="240">
        </video>
        <p id="errorMessage" class="error"></p>
        <input type="hidden"
               id="location-id"
               name="location-id"
               value="{{ location.id }}"/>
        <div id="accessControl">Wait</div>
        <p id="statusMessage">Please wait...</p>
    </div>
	<div id="detectedUserPanel" class="d-none">
		<div>
			<div>
				<div>Username</div>
				<div id="username"></div>
			</div>
			<div>
				<div>First name</div>
				<div id="firstName"></div>
			</div>
			<div>
				<div>Last name</div>
				<div id="lastName"></div>
			</div>
		</div>
		<div id="auto-sign-in-count-down">5</div>
		<button id="abortButton" class="btn btn-primary">Abort</button>
	</div>
	<button id="startButton" class="btn btn-primary">Start Auto Sign-in</button>
	<button id="stopButton" class="btn btn-primary">Stop Auto Sign-in</button>
{% endblock content %}
{% block scripts %}
    <script src="{% static "js/facial-login.js" %}"></script>
	<script type="text/javascript">
		// This is the script that will run when the page is loaded and ready
		$(document).ready(function () {
			const webPageControls = new WebPageControls();
			const manager = new Manager(webPageControls);
		});
	</script>
{% endblock scripts %}

